<!DOCTYPE html>
<html>
<head>
    <title>Film Dili eklendi</title>
    <meta charset="utf-8">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    @if (IsPost)
    {
        NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();
        NorthwndWeb.Entities.MovieLanguage movieLanguageAdd = new NorthwndWeb.Entities.MovieLanguage();
        string filmDili = Request.Form["LanguagePost"];
        movieLanguageAdd.FilmDil = filmDili;
        db.MovieLanguage.Add(movieLanguageAdd);
        db.SaveChanges();

    }
    <a class="btn btn-default" href="~/DataAdd.cshtml" role="button">Geri Gel</a>

</body>
</html>
