<!DOCTYPE html>
<html>
<head>
    <title>Film Türü Eklendi</title>
    <meta charset="utf-8">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    @if (IsPost)
    {
        NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();
        NorthwndWeb.Entities.MovieType movieTypeAdd = new NorthwndWeb.Entities.MovieType();

        string tip1 = Request.Form["movType1"];
        string tip2 = Request.Form["movType2"];
        string tip3 = Request.Form["movType3"];

        movieTypeAdd.MovieTypeName = tip1;

        db.MovieTypes.Add(movieTypeAdd);
        db.SaveChanges();


    }
     <a class="btn btn-default" href="~/DataAdd.cshtml" role="button">Geri Gel</a>
</body>
</html>
