<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <title>Kayıt Ol</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="signin.css" rel="stylesheet">
</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-md-6">
                <h1>Dil Ekle</h1>
            </div>
            <div class="col-xs-9 col-md-6">
                <h1>Tür Ekle</h1>
            </div>
            <!-- @@@@@@ Dil Ekle @@@@@@ -->
            <form class="form-horizonta">
                <div class="col-xs-9 col-md-6">
                    <div class="form-group">
                        <label for="filmDil">Film Dili Ekle</label>
                        <input type="text" class="form-control" id="filmDil" name="filmDil">
                    </div>
                    <button type="submit" class="btn btn-default" name="filmDilEkle" onclick="LanguageAdd()">Dil Gönder Gelsin</button>
                </div>
            </form>
            <!-- @@@@@@ Tür Ekle @@@@@@ -->
            <form class="form-horizonta">
                <div class="col-xs-9 col-md-6">
                    <div class="form-group">
                        <label for="filmTip">Film Türü Ekle</label>
                        <input id="filmTip" type="text" class="form-control" name="filmTip">
                    </div>
                    <button type="submit" class="btn btn-default" name="filmTipEkle" onclick="TypeAdd()">Tür Gönder Gelsin</button>
                </div>
            </form>
            <div class="col-xs-9 col-md-6">
                <h1>Yönetmen Ekle</h1>
            </div>
            <div class="col-xs-9 col-md-6">
                <h1>Dizi Ekle</h1>
            </div>
            <!-- @@@@@@ Yönetmen @@@@@@ -->
            <form class="form-horizonta">
                <div class="col-xs-9 col-md-6">
                    <div class="form-group">
                        <label for="yonetmenAdi">Yönetmen Ekle</label>
                        <input id="yonetmenAdi" type="text" class="form-control" name="yonetmenAdi">
                    </div>
                    <button id="btn-yonetmen" type="submit" class="btn btn-default" name="yonetmenEkle" onclick="DirectorAdd()">Yönetmen Gönder Gelsin</button>
                    <span id="sonuc"></span>
                </div>
            </form>
                <div class="col-xs-9 col-md-6">

                </div>
            
        </div>
    </div>
    
    @*<form class="form-horizonta">
        <div class="container">
            <div class="form-group">
                <label for="filmDil">Film Dili Ekle</label>
                <input type="text" class="form-control" id="filmDil" name="filmDil">
            </div>
            <button type="submit" class="btn btn-default" name="filmDilEkle">Gönder Gelsin</button>
        </div>
    </form>*@

    @{ 
        NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();
        NorthwndWeb.Entities.Director Directors = new NorthwndWeb.Entities.Director();
        NorthwndWeb.Entities.MovieLanguage movLang = new NorthwndWeb.Entities.MovieLanguage();
        NorthwndWeb.Entities.MovieType movType = new NorthwndWeb.Entities.MovieType();
    }
    <!-- @@@@@@ Yönetmen Ekle @@@@@@ -->
    <script>
        function DirectorAdd() {
            $.ajax({
                type: "POST",
                url: "Post/DirectorAddPost.cshtml",
                data:
                {
                    directorPost: escape($('#yonetmenAdi').val())
                },
                success: function (result) {
                    $('#sonuc').html(result);
                },
                error: function () {
                    //alert('Sorun Oluştu Hayırlısı :D ');
                }
            });
        }
        function TypeAdd() {
            $.ajax({
                type: "POST",
                url: "Post/MovieTypeAddPost.cshtml",
                data:
                {
                    TypePost: escape($('#filmTip').val())
                },
                success: function (result) {
                    $('#sonuc').html(result);
                },
                error: function () {
                    //alert('Sorun Oluştu Hayırlısı :D ');
                }
            });
        }
        function LanguageAdd() {
            $.ajax({
                type: "POST",
                url: "Post/MovieLanguageAddPost.cshtml",
                data:
                {
                    LanguagePost: escape($('#filmDil').val())
                },
                success: function (result) {
                    $('#sonuc').html(result);
                },
                error: function () {
                    //alert('Sorun Oluştu Hayırlısı :D ');
                }
            });
        }
        
        


        //$("#btn-yonetmenn").on("click", function () {
        //    var yonetmenA = document.getElementById("yonetmenAdi").value;
        //    $.post("Post/DirectorAddPost.cshtml", yonetmenA);
        //    $.ajax({
        //        type: "POST",
        //        url: "Post/DirectorAddPost.cshtml",
        //        data: yonetmenA
        //        }
        //})
        
    </script>
</body>
</html>
