
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/docs.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="data:text/css;charset=utf-8," data-href="~/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
    <link href="~/css/my.css" rel="stylesheet">
</head>

<body>
    @{ 
        NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();
        var yorumlar = db.Comments.ToList();
    }
        <div class="container">
            <!--Chat Kısmı & Sol Div-->
            
            
                <!--Orta Div-->
                <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8" style="background-color:aqua">
                    <div class="row" style="background-color:antiquewhite">
                        <h4 style="">Film İsmmi</h4>
                    </div>
                            <!--Film Ayrıntıları-->
                            <div class="col-xs-18 col-md-12 col-sm-12 col-lg-12">
                                <div class="row col-xs-9 col-md-6 col-sm-6 col-lg-6" style="background-color:aquamarine">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUDOdBDlkHGh7XslTULz6DjV1FGQdLEa9ecxgWX3Si6Pt4Mi_X" class="img-rounded center-block" style="height:550px;width:100%">
                                </div>
                                <div class=" col-xs-9 col-md-6 col-sm-6 col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Yönetmen <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">Yapım Yılı <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">İmdb Puanı <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">Film Türü <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">Dil <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">Süre <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">Kalite <span class="glyphicon glyphicon-chevron-right"></span></li>
                                        <li class="list-group-item list-group-item-info">Film Özet<span class="glyphicon glyphicon-chevron-right"></span>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır</li>
                                    </ul>
                                </div>
                            </div>
                        
                    
                    <div class="row col-xs-18 col-md-12 col-sm-12 col-lg-12">
                        <div align="center" class="vid">
                            <iframe height="550" width="650" src="https://www.youtube.com/embed/0ZCAXbL_nDk" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!--Film izleme kısmı-->
                    <div class="col-xs-18 col-md-12 col-sm-12 col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Yorum Yaz</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="nick">Nick</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="nick" name="nick" placeholder="Rumuz" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="yorum">Yorum</label>
                                        <div class="col-md-10">
                                            <textarea rows="3" class="form-control" id="yorum" name="yorum"></textarea>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-primary">Yorumu Gönder</button>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Yorumlar</h3>
                            </div>
                            <div class="panel-body">



                                @foreach (var yorum in yorumlar)
                                {
                                    <b class="col-md-2 lead">@yorum.nick</b>
                                    <div class="col-md-10">
                                        <p class="">@yorum.yorum</p>
                                    </div>

                                }


                            </div>
                        </div>
                    </div>

                </div>
                <!-- Sağ Div -->
                <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4">
                    <div class="thumbnail en">
                        <h4 style="">Kategoriler</h4>
                    </div>
                </div>
            </div>
</body>
</html>
