<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    @{
        if (IsPost)
        {
            NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();

            string kadi = Request.Form["UserName"];
            string ksifre = Request.Form["EMail"];
            string kmail = Request.Form["Pass"];

            NorthwndWeb.Entities.User yeni = new NorthwndWeb.Entities.User();
            yeni.UserName = kadi;
            yeni.UserMail = ksifre;
            yeni.UserPass = kmail;

            db.Users.Add(yeni);
            db.SaveChanges();
        }
        <a class="btn btn-default" href="~/UserAdd.cshtml" role="button">Geri Gel</a>
    }
</body>
</html>
